* {
    box-sizing: border-box; 
    text-decoration: none; 
    padding: 0; 
    margin: 0; 
    border: none; 
    outline: none; 
}

body {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    justify-items: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
}

.login-container { 
    display: grid; 
    grid-column: 2 / 3;  
}

.login-box {
    display: flex; 
    flex-direction: column;
    justify-content:center; 
    align-items: center; 
    height: auto; 
    width: 400px; 
    border: 3px solid #888888; 
    border-radius: 5px;
    margin-top: 25%;  
}

@media only screen and (max-width:600px) {
    .login-box {
        margin-top:5%; 
    }
}


.login-box h1 { 
    color: #199fec; 
    font-size: 30px; 
    margin-top: 50px; 
    margin-bottom: 30px; 
}

.input-container {
    display: flex; 
    width: 300px; 
    border: 2px solid #199fec;
    border-radius: 2px; 
    margin: 5px 50px ; 
}

.icon { 
    min-width: 40px; 
    text-align: center; 
    background-color: #199fec; 
    padding: 10px; 
}

.input-field {
    width: 100%;
    margin: 0 5px;  
}

.input__links {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    margin: 10px; 
}

.input__links p {
    font-size: 8px; 
    margin-left: 50px; 
    margin-bottom: 4px; 
}

.input__links a { 
    color: #199fec;
}

.input__links a:hover,
.input__links a:focus {
    color: #013d5f;
}

#login-button {
    height: 35px; 
    width: 100px; 
    background-color: #199fec; 
    border-radius: 2px; 
    color: #fff; 
    margin: 15px 0 60px 0; 
}

#login-button:focus { 
    border: 3px solid #013d5f; 
}